table{
    border: 5px solid black;
    margin: auto;
    background-color: white;
}
td{
    border: 5px solid black;
    width: 100px;
    height: 100px;
}

#display{
    border: 1px solid blue;
    background-color: rgb(30, 253, 0);
}
#botoes{
    border-color: blueviolet;
}

body{
    background-color: aqua;
}
#comandos{
    border-radius: 5%;
    border-color: blueviolet;
    background-color: azure;
}

b{
    font-size:50px;
}





