
body {
     background-color: rgb(182, 77, 214);
}


p{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 36pt;
}
h2{
    font-family: Arial;
    font-size: 32pt;
    color: blue;
}
h3{
    font-family:Comic Sans MS;
    font-size: 28pt;
    color: red;
    font-style: italic;
}
h4{
    font-family: Times;
    font-size: 24pt;
    color: purple;
    font-weight: bold;
}
h5{
    font-family: Times;
    font-size: 20pt;
    color: green;
    
}
h6{
    font-family: Verdana;
    font-size: 16pt;
    color: yellow;
    font-style: italic;
    font-weight: bold;
}
